#bloc_page
{
    width: 900px;
    margin: auto;
}



nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;

}

nav li
{
    margin-right: 75px;
    padding-top: -200px;
    margin-top: -70px;
}

#logo
{
    width: 150px;
    height: 80px;
}

.link{

    margin-right: 1px;
    padding-top: 15px;
    margin-top: 15px;
}


.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container{

    text-align: center;
}